body {
  margin: 0px !important;
}

  input[type=text], input[type=email], select, textarea {
    font-size: 1.3rem;
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    border-left: 0.6rem solid;
    border-left-color: #4CAF50;
    transition: all 0.5s ease-out;
  }
  
  input[type=text]:focus, input[type=email]:focus {
    outline-color: #863356;
  }
  
  input[type=text]:valid:focus, input[type=email]:valid:focus {
    outline-color: #039603;
  }
  
  #confirmOrder {
    font-size: 1.3rem;
    text-align: center;
    background-color: #45a049;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 700;
  }
  #confirmOrder :hover {
    background-color: #45a085;
  }
  
  input:invalid {
    border-left-color: #863356;
  }
  
  input:invalid:focus {
    background-color: rgba(192, 218, 241, 0.3);
  }
  
  #form {
    
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 1.7rem;
    max-height: 90vh;
    max-width: 93vw;
  }
  #form label {
    font-size: 1.3rem;
    font-family: 'Courier New', Courier, monospace;
  }
  #form .cancel {
    font-size: 1.3rem;
    background-color: #863356;
    margin: 1.5rem 0rem;
    padding: 0.7rem 0rem;
    color: #fff;
    font-weight: bold;
    border-radius: 4px;
    border: none;
    cursor: pointer;
  }
  #form .cancel:hover {
    background-color: #941515 !important;
  }
  #form .buttons {
    display: flex;
    flex-direction: column;
    color: #fff;
    padding: 1rem 1.2rem;
    border: none;
    cursor: pointer;
    margin-bottom: 10px;
    opacity: 0.8;
    text-align: center;
  }