body {
        margin: 0rem;
        background-color: #fff;
}

header {
    z-index: 1;
    width: 100%;
}

h2 {
    text-align: center;
}

.teddyPhoto {
    margin: auto;
    max-width: 20em;
    max-height: 12em;
    box-shadow: 3px 2px 2px 1.5px rgba(145, 133, 133, 0.6);
}

.teddyName {
    font-family: Pacifico;
}

.teddyInfo {
    list-style-type: none;
}

#price {
    font-family: 'Courier New', Courier, monospace;
}

#mainPage {
    display: grid;
    justify-content: center;
    margin: auto;
    column-gap: 2em;
    row-gap: 2em;
    margin-top: 5em;
    margin-bottom: 5em;
}

.Norbert {
    grid-row: 1;
    grid-column: 1;
    display: flex;
    flex-direction: column;
    
}

.Arnold {
    grid-row: 1;
    grid-column: 2;
    display: flex;
    flex-direction: column;
}

.Lenny.and.Carl {
    grid-row: 1;
    grid-column: 3;
    display: flex;
    flex-direction: column;
}

.Gustav {
    grid-row: 2;
    grid-column: 1;
    display: flex;
    flex-direction: column;
}

.Garfunkel {
    grid-row: 2;
    grid-column: 3;
    display: flex;
    flex-direction: column;
}

@import "https://fonts.googleapis.com/css?family=Lato:300,400,700";
@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css";
*, *::before, *::after {
    box-sizing: border-box;
}
.lighter-text {
    color: rgb(171, 176, 190);
}
.main-color-text {
    color: rgb(99, 148, 248);
}
nav {
    background: rgb(248, 248, 248) none repeat scroll 0 0;
    font-size: 16px;
    padding: 20px 0 40px;
}
nav .navbar-left {
    float: left;
}
nav .navbar-right {
    float: right;
}
nav ul li {
    display: inline;
    padding-left: 20px;
}
nav ul li a {
    color: rgb(119, 119, 119);
    text-decoration: none;
}
nav ul li a:hover {
    color: rgb(0, 0, 0);
}
.container {
    margin: auto;
    width: 80%;
}
.badge {
    background-color: rgb(99, 148, 248);
    border-radius: 15px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
    color: rgb(255, 255, 255);
    display: inline-block;
    font-size: 12px;
    height: 25px;
    line-height: 1;
    padding: 6px 7px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    width: 25px;
}
.shopping-cart {
    background: rgb(255, 255, 255) none repeat scroll 0 0;
    border-radius: 3px;
    float: right;
    margin: 20px 0;
    padding: 20px;
    position: relative;
    width: 320px;
}
.shopping-cart .shopping-cart-header {
    border-bottom: 1px solid rgb(232, 232, 232);
    padding-bottom: 15px;
}
.shopping-cart .shopping-cart-header .shopping-cart-total {
    float: right;
}
.shopping-cart .shopping-cart-items {
    padding-top: 20px;
}
.shopping-cart .shopping-cart-items li {
    margin-bottom: 18px;
}
.shopping-cart .shopping-cart-items img {
    float: left;
    margin-right: 12px;
}
.shopping-cart .shopping-cart-items .item-name {
    display: block;
    font-size: 16px;
    padding-top: 10px;
}
.shopping-cart .shopping-cart-items .item-price {
    color: rgb(99, 148, 248);
    font-size: 12px;
    margin-right: 8px;
}
.shopping-cart .shopping-cart-items .item-quantity {
    color: rgb(171, 176, 190);
    font-size: 13px;
}
.shopping-cart::after {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgb(255, 255, 255);
    border-image: none;
    border-style: solid;
    border-width: 8px;
    bottom: 100%;
    content: " ";
    height: 0;
    left: 89%;
    margin-left: -8px;
    pointer-events: none;
    position: absolute;
    width: 0;
}
.cart-icon {
    color: rgb(81, 87, 131);
    float: left;
    font-size: 24px;
    margin-right: 7px;
}
.button {
    background: rgb(99, 148, 248) none repeat scroll 0 0;
    border-radius: 30px;
    box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.15);
    color: rgb(255, 255, 255);
    display: block;
    font-size: 16px;
    margin: 25px 0 15px;
    padding: 12px;
    text-align: center;
    text-decoration: none;
}
.button:hover {
    background: rgb(114, 158, 249) none repeat scroll 0 0;
}
.clearfix::after {
    clear: both;
    content: "";
    display: table;
}


















@media (max-width: 650px) {
    #mainPage {
        display: grid;
        justify-content: center;
        margin: auto;
        row-gap: 2em;
        margin-top: 5em;
        margin-bottom: 5em;
    }
    
    .Norbert {
        grid-row: 1;
        grid-column: 1;
        display: flex;
        flex-direction: column;
        
    }
    
    .Arnold {
        grid-row: 2;
        grid-column: 1;
        display: flex;
        flex-direction: column;
    }
    
    .Lenny.and.Carl {
        grid-row: 3;
        grid-column: 1;
        display: flex;
        flex-direction: column;
    }
    
    .Gustav {
        grid-row: 4;
        grid-column: 1;
        display: flex;
        flex-direction: column;
    }
    
    .Garfunkel {
        grid-row: 5;
        grid-column: 1;
        display: flex;
        flex-direction: column;
    }
}