
.overlay {
    position:fixed;
    left:0;
    top:0;
    right: 0;
    background-color:rgba(0,0,0,.637);
    z-index:1;
    display:none;
}


/*
Popup de la page panier
*/


.popup {
    margin:auto;
    width :70%;
    background-color:rgb(243,243,243);
    padding:1em;
    box-shadow:0 15px 20px rgba(0,0,0,.3);
    border-radius:5px;
}

.btnClose {
    float:right;
    font-size:16pt;
    cursor:pointer;
    color:rgb(26,26,26);
}


/*
Popup de la page produit
*/

.popup-tedoption {
    margin:auto;
    width :40vh;
    height: 30vh;
    background-color:rgb(243,243,243);
    padding:1em;
    box-shadow:0 15px 20px rgba(0,0,0,.3);
    border-radius:5px;
}
