body {
    margin: 0px !important;
}

.panierLink {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}

.checkoutClick {
    display: flex;
    padding: 10px 45px;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    color: white;
    background: #863356;
    transition: 1s;
    box-shadow: 6px 6px 0 black;
    transform: skewX(-15deg);
}

.checkoutClick:focus {
    outline: none; 
}

.checkoutClick:hover {
    cursor: pointer;
    transition: 0.5s;
    box-shadow: 10px 10px 0 rgba(173, 88, 123, 0.521);
}

.checkoutClick span:nth-child(2) {
    transition: 0.5s;
    margin-right: 0px;
}

.checkoutClick:hover  span:nth-child(2) {
    transition: 0.5s;
    margin-right: 45px;
}

    span {
        transform: skewX(15deg) 
    }

    span:nth-child(2) {
        width: 20px;
        margin-left: 30px;
        position: relative;
        top: 12%;
    }

/**************SVG****************/

path.one {
    transition: 0.4s;
    transform: translateX(-60%);
}

path.two {
    transition: 0.5s;
    transform: translateX(-30%);
}

.checkoutClick:hover path.three {
    animation: color_anim 1s infinite 0.2s;
}

.checkoutClick:hover path.one {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.6s;
}

.checkoutClick:hover path.two {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.4s;
}

/* SVG animations */

@keyframes color_anim {
    0% {
        fill: white;
    }
    50% {
        fill: rgba(173, 88, 123, 0.521);
    }
    100% {
        fill: white;
    }
}

#container-fluid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.teddyName {

    font-family: Pacifico;
    font-size: 4rem;
    align-self: center;
    margin-top: auto;
}

.teddyInfo {
    
    list-style-type: none;
}

.teddyPhoto > img {
    
    margin: auto;
    max-width: 20em;
    max-height: 24em;
    box-shadow: 3px 2px 2px 1.5px rgba(145, 133, 133, 0.6);
}

.teddy_description {
    max-width: 25%;
}

table {
    max-width: 80%;
    margin: auto;
    font-family: 'Courier New', Courier, monospace;
}

footer {
    margin-top: 5em;
}

.teddyOption {
    font-family: 'Courier New', Courier, monospace;
    margin-top: 5em;
    margin-bottom: 5em;
}

label, select {
    display: table-cell;
    margin-bottom: 30px;
}

label {
    margin-right: 30px;
}

div.form-tedoption {
    display: table-row;
}

.modal {
    width: 300px;
    height: 300px;
    position: absolute;
    left: 50%;
    top: 50%; 
    margin-left: -150px;
    margin-top: -150px;
}